/* .main{
    background-color: rgb(159, 153, 153);
} */

body{
    background-color: rgb(183, 184, 203);
}

.middle-card{
    background-color: white;
    height: 59vh;
    margin-top: 120px;
    width: 270px;
    padding: 13px;
    margin-left: 600px;
    border-radius: 20px;
}

/* .half-card{
    background-color: darkblue;
    height: 45vh;
    padding: 5px;
    margin-top: 0 auto;
    border-radius: 20px;   
} */

.qr{
    margin-top: 0;
    width: 270px;
    margin-top: 4px;
    border-radius: 15px;
    text-align: center;
    /* padding: 15px; */
}

.second-word{
    color: darkgray;
    text-align: center;
}

.word-card{
    padding-left: 27px;  
    font-family: 'Outfit', sans-serif;
    color: #595858;
}