/* .main{
    background-color: rgb(159, 153, 153);
} */

body{
    background-color: rgb(183, 184, 203);
}

.middle-card{
    background-color: white;
    height: 70vh;
    margin-top: 75px;
    width: 300px;
    padding: 20px;
    margin-left: 400px;
    border-radius: 20px;
}

.half-card{
    background-color: darkblue;
    height: 45vh;
    padding: 5px;
    margin-top: 0 auto;
    border-radius: 20px;   
}

.qr{
    width: 200px;
    margin-top: 20px;
    padding: 35px;
}